export PICO_TOOLCHAIN_PATH="$HOME/git/gcc-arm-none-eabi-10.3-2021.10/bin"
export PICO_SDK_PATH="$HOME/git/pico-sdk"
export PICO_EXAMPLES_PATH="$HOME/git/pico-examples"
export PICO_BOARD=pico2_w
export WIFI_SSID="mx-free24"
export WIFI_PASSWORD="ckuv7482"
export SIGNALING_URL="https://ceiling-ntsc-wagner-pursuant.trycloudflare.com/whip/00/00/00"
export SIGNALING_TOKEN=""
